## 2021: confusion matrix for reviewers
Inputs: csv files output from classifier.py
Outputs: a few small csv files with confusion matrices, as well as printouts
Note: Actual confusion matrix is calculated in Excel spreadsheet on local: confusion_x10_local-masked_400000_updated.xlsx

In [1]:
# imports
import pandas as pd
import sklearn.metrics as metrics
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns

# display options
pd.options.display.max_columns = 60

In [2]:
## IO
csv='/home/ethan_kyzivat/code/pixel-smasher/2021_classification_stats_x10_local-masked_400000_ir_global_thresh.csv'
res='Bic'

## display
df=pd.read_csv(csv)
df

,Unnamed: 0,num,name,thresh,res,percent_water,mean_ndwi,median_ndwi,accuracy,accuracy_p,kappa,kappa_p,min_ndwi,max_ndwi,JI,DSC,TP,FN,FP,TN,TP_p,FN_p,FP_p,TN_p
0,0,0,20170710_181144_1034_3B_AnalyticMS_SR_s0235,0.0,SR,8.444878,201.99965,215.0,0.996519,0.560618,0.977414,0.129430,3.0,255.0,0.959466,0.020686,18984.0,329.0,473.0,210614.0,421.0,199.0,370.0,305.0
1,0,0,20170710_181144_1034_3B_AnalyticMS_SR_s0235,0.0,HR,8.382378,207.88528,222.0,NaN,NaN,NaN,NaN,12.0,255.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,20170710_181144_1034_3B_AnalyticMS_SR_s0235,0.0,LR,8.984375,207.84766,222.0,NaN,NaN,NaN,NaN,18.0,255.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,20170710_181144_1034_3B_AnalyticMS_SR_s0235,0.0,Bic,8.320312,207.83630,222.0,0.995838,0.439382,0.972809,-0.131889,8.0,255.0,0.951372,0.024920,18762.0,551.0,408.0,210679.0,199.0,421.0,305.0,370.0
4,0,1,20170708_181118_102a_3B_AnalyticMS_SR_s0175,0.0,SR,16.235243,203.24974,232.0,0.993381,0.614480,0.975657,0.167385,17.0,255.0,0.960029,0.020393,36628.0,747.0,778.0,192247.0,971.0,279.0,541.0,336.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8515,0,2128,20170710_181144_1034_3B_AnalyticMS_SR_s0111,0.0,Bic,6.014757,201.14601,208.0,0.993628,0.401187,0.944680,-0.145939,12.0,255.0,0.901271,0.051928,13401.0,1011.0,457.0,215531.0,293.0,689.0,320.0,383.0
8516,0,2129,20170709_180724_1030_3B_AnalyticMS_SR_s0262,0.0,SR,11.011719,203.08470,213.0,0.991068,0.472165,0.954084,-0.097414,13.0,255.0,0.921408,0.040903,24128.0,815.0,1243.0,204214.0,939.0,360.0,920.0,206.0
8517,0,2129,20170709_180724_1030_3B_AnalyticMS_SR_s0262,0.0,HR,10.825955,208.26823,219.0,NaN,NaN,NaN,NaN,26.0,255.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8518,0,2129,20170709_180724_1030_3B_AnalyticMS_SR_s0262,0.0,LR,10.503472,208.19705,219.0,NaN,NaN,NaN,NaN,35.0,255.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8519,0,2129,20170709_180724_1030_3B_AnalyticMS_SR_s0262,0.0,Bic,10.450521,208.19495,219.0,0.991654,0.527835,0.956104,0.090275,28.0,255.0,0.924505,0.039228,23549.0,1394.0,529.0,204928.0,360.0,939.0,206.0,920.0

In [3]:
df.describe()

,Unnamed: 0,num,thresh,percent_water,mean_ndwi,median_ndwi,accuracy,accuracy_p,kappa,kappa_p,min_ndwi,max_ndwi,JI,DSC,TP,FN,FP,TN,TP_p,FN_p,FP_p,TN_p
count,8520.0,8520.000000,8520.0,8520.000000,8520.000000,8520.00000,4260.000000,4254.000000,4254.000000,4254.000000,8520.000000,8520.000000,4260.000000,4254.000000,4260.000000,4260.000000,4260.000000,4260.000000,4260.000000,4260.000000,4260.000000,4260.000000
mean,0.0,1064.500000,0.0,25.093381,179.488347,197.87770,0.992060,0.500000,0.968830,0.004538,17.591197,254.094718,0.953620,0.023703,56877.698826,1005.830751,823.511737,171692.958685,604.855164,604.855164,515.098592,515.098592
std,0.0,614.914056,0.0,21.365034,44.878384,65.19073,0.020256,0.099311,0.048519,0.147840,13.534430,13.120356,0.057926,0.029073,49065.912291,2983.443671,2356.207596,49589.549631,2009.348918,2009.348918,1132.559844,1132.559844
min,0.0,0.000000,0.0,0.000000,6.350768,1.00000,0.559457,0.000217,0.005591,-0.510651,0.000000,27.000000,0.000000,0.000116,0.000000,0.000000,0.000000,264.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,532.000000,0.0,10.225586,164.147423,205.00000,0.991701,0.426760,0.967128,-0.105574,8.000000,255.000000,0.945380,0.010630,22689.750000,472.000000,360.000000,154157.000000,244.000000,244.000000,229.000000,229.000000
50%,0.0,1064.500000,0.0,18.142578,193.678285,223.00000,0.994058,0.500000,0.976820,0.000000,16.000000,255.000000,0.964400,0.018106,40849.000000,737.000000,588.500000,187823.500000,430.000000,430.000000,378.000000,378.000000
75%,0.0,1597.000000,0.0,32.597114,209.177797,233.00000,0.995956,0.573240,0.983528,0.115438,25.000000,255.000000,0.978919,0.028059,73851.750000,1071.000000,897.000000,206229.750000,688.000000,688.000000,581.000000,581.000000
max,0.0,2129.000000,0.0,99.878906,240.552080,255.00000,1.000000,0.999783,0.996202,0.693504,193.000000,255.000000,0.999769,0.717072,230042.000000,86987.000000,74443.000000,230400.000000,71180.000000,71180.000000,34744.000000,34744.000000

In [4]:
df.query("res == @res").sum().TN_p

1320619.0

In [34]:
## display confusion matrix
## Note: Actual confusion matrix is calculated in Excel spreadsheet on local: confusion_x10_local-masked_400000_updated.xlsx
from IPython.display import display
for res in ['Bic', 'SR']:
    sum=df.query("res == @res").sum()
    CM_total=np.array([[sum.TN, sum.FP],[sum.FN, sum.TP]])
    CM=CM_total/CM_total.sum()
    # CM1=np.concatenate((CM, CM.sum(axis=1, keepdims=True)), axis=1) # not right...
    print('Confusion matrix for: ')
    print(res)
    # CM
    cm=pd.DataFrame(CM,columns=[[res]*2,['Not water', 'Water']], index=[['HR']*2,['Not water', 'Water']])
    display(cm)
    cm.to_csv('CM_'+res+'.csv')

Confusion matrix for:
Bic

                   Bic
             Not water     Water
HR Not water  0.745650  0.003119
   Water      0.004732  0.246498

Confusion matrix for:
SR

                    SR
             Not water     Water
HR Not water  0.744740  0.004030
   Water      0.003999  0.247232

In [29]:
## UA and PA
res

'Bic'

In [22]:
CM.sum(axis=1).T.shape

(2,)

In [23]:
?np.sum

Signature:
np.sum(
    a,
    axis=None,
    dtype=None,
    out=None,
    keepdims=<no value>,
    initial=<no value>,
)
Docstring:
Sum of array elements over a given axis.

Parameters
----------
a : array_like
    Elements to sum.
axis : None or int or tuple of ints, optional
    Axis or axes along which a sum is performed.  The default,
    axis=None, will sum all of the elements of the input array.  If
    axis is negative it counts from the last to the first axis.

    .. versionadded:: 1.7.0

    If axis is a tuple of ints, a sum is performed on all of the axes
    specified in the tuple instead of a single axis or all the axes as
    before.
dtype : dtype, optional
    The type of the returned array and of the accumulator in which the
    elements are summed.  The dtype of `a` is used by default unless `a`
    has an integer dtype of less precision than the default platform
    integer.  In that case, if `a` is signed then the platform integer
    is used while if `a` is unsigned then an unsigned integer of the
    same precision as the platform integer is used.
out : ndarray, optional
    Alternative output array in which to place the result. It must have
    the same shape as the expected output, but the type of the output
    values will be cast if necessary.
keepdims : bool, optional
    If this is set to True, the axes which are reduced are left
    in the result as dimensions with size one. With this option,
    the result will broadcast correctly against the input array.

    If the default value is passed, then `keepdims` will not be
    passed through to the `sum` method of sub-classes of
    `ndarray`, however any non-default value will be.  If the
    sub-class' method does not implement `keepdims` any
    exceptions will be raised.
initial : scalar, optional
    Starting value for the sum. See `~numpy.ufunc.reduce` for details.

    .. versionadded:: 1.15.0

Returns
-------
sum_along_axis : ndarray
    An array with the same shape as `a`, with the specified
    axis removed.   If `a` is a 0-d array, or if `axis` is None, a scalar
    is returned.  If an output array is specified, a reference to
    `out` is returned.

See Also
--------
ndarray.sum : Equivalent method.

cumsum : Cumulative sum of array elements.

trapz : Integration of array values using the composite trapezoidal rule.

mean, average

Notes
-----
Arithmetic is modular when using integer types, and no error is
raised on overflow.

The sum of an empty array is the neutral element 0:

>>> np.sum([])
0.0

Examples
--------
>>> np.sum([0.5, 1.5])
2.0
>>> np.sum([0.5, 0.7, 0.2, 1.5], dtype=np.int32)
1
>>> np.sum([[0, 1], [0, 5]])
6
>>> np.sum([[0, 1], [0, 5]], axis=0)
array([0, 6])
>>> np.sum([[0, 1], [0, 5]], axis=1)
array([1, 5])

If the accumulator is too small, overflow occurs:

>>> np.ones(128, dtype=np.int8).sum(dtype=np.int8)
-128

You can also start the sum with a value other than zero:

>>> np.sum([10], initial=5)
15
File:      /usr/local/lib/python3.5/site-packages/numpy/core/fromnumeric.py
Type:      function